<div class="news">
    <h2>LATEST NEWS</h2>

    <div class="listaNoticias">
        <div class="noticia">
            <div class="noticiaImg">
                <img src="assets/news/sample1.jpg">
            </div>
            <h3>SAMPLE TEXT</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et commodo odio, ut placerat nisi. Sed iaculis dolor nec nisi tempus,</h4>
        </div>
        <div class="noticia">
            <div class="noticiaImg">
                <img src="assets/news/sample2.jpg">
            </div>
            <h3>SAMPLE TEXT</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et commodo odio, ut placerat nisi. Sed iaculis dolor nec nisi tempus,</h4>
        </div>
        <div class="noticia">
            <div class="noticiaImg">
                <img src="assets/news/sample3.jpg">
            </div>
            <h3>SAMPLE TEXT</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et commodo odio, ut placerat nisi. Sed iaculis dolor nec nisi tempus,</h4>
        </div>
    </div>

</div>
